@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d1d23;
    color: white;
    font-family: 'Roboto';
    font-size: larger;
}

h2 {
    text-align: center;
    margin-top: 20px;
    background-color: #1d1d23;
}

#container {
    background-color: #34344a;
    width: 550px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    left: 30%;
}


.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    appearance: none;
    background-color: #34344a;
    -moz-appearance: textfield;
    width: 45px;
    padding: 5px;
    border: none;
    text-align: center;
    outline: none;
    height: 30px;
}

input[placeholder="hh"],
input[placeholder="mm"],
input[placeholder="ss"] {
    color: white;
    font-size: 25px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#startTimer {
    background-color: #ebeb07;
    width: 114px;
    height: 45px;
    border-radius: 10px;
    font-weight: 500;
    border: none;
}

#timer-list {
    font-size: 16px;
    background-color: #39393e;
    height: 5vh;
    width: 15vw;
    top: 20px;
    position: relative;
    left: 41%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 14px;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    background-color: #34344a;
    width: 530px;
    height: 50px;
    left: 30vw;
    top: 20px;
    font-size: 25px;
}

.timers-text {
    position: relative;
    text-align: center;
    top: 33px;
    right: 25px;
}

.control-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    width: 80px;
    height: 38px;
    border-radius: 20px;
}

.delete-button {
    background-color: #ebeb07;
    color: #34344a;
    font-weight: bold;
}

.stop-button {
    background-color: #34344a;
    color: white;
}